* {
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(https://wallpapercave.com/wp/wp7117797.jpg);
  background-size: 100vw;
  padding-top: 40px;
  display: flex;
}

#p1-container {
  display: flex;
  background-color: rgba(15, 4, 4, 0.397);
  width: 35vw;
  height: 70vh;
  color: white;
}

#battle-dialog {
  display: flex;
  background-color: rgba(19, 58, 53, 0.527);
  width: 30vw;
  height: 70vh;
  color: white;
}

#p2-container {
  display: flex;
  background-color: rgba(15, 4, 4, 0.397);
  width: 35vw;
  height: 70vh;
  color: white;
}

/* button container */

#btn-container {
  display: flex;
  background-color: black;
  height: 45px;
}

/* buttons */

#p1-att-btn {
  display: flex;
  background-color: rgb(167, 230, 22);
}

#p2-att-btn {
  display: flex;
  background-color: rgb(167, 230, 22);
}
